.form-group {
  margin: 2em;
}

.form-group label {
  margin: 1em 0;
}

.table-img {
  padding: 0;
  display: block;
  margin: 5em auto;
  max-height: 100%;
  max-width: 100%;
}

table {
  padding: 1em;
}

td {
  padding: 0.3em;
}

.below-table {
  margin: 2em 0;
}

label {
  font-weight: bold;
}

input {
  width: 250px;
}
